<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>{% block title %}Home{% endblock %}</title>
		<link rel="stylesheet" href="{% static 'style.css' %}">
		{% block head %}{% endblock %}
	</head>
	<body>
		<div id="banner">
			{% block banner %}{% endblock %}
		</div>
		<div id="nav_bar">
			{% block nav_bar %}{% endblock %}
		</div>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
			{% block footer %}
				<hr>
				Author:<br>
				Shane Satterfield<br>
			{% endblock %}
		</div>
	</body>
</html>